.cardGrid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border:none;
    margin: 0.6% 0.8% 0.6% 0.8%;
    padding: 14px;
    border-radius: 70px;
    background-color: rgba(0, 0, 0, 0.513);
    min-width:80%;
}

.homeContainer {
    background-color: rgba(250, 235, 215, 0.507);
    display: flex;
    direction: row;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 0.3%;
}

.homeContainer .buttonEnabled {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 56, 86);
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    display: flex;
    width: 10%;
    background-color: rgb(236, 46, 46);
    border-radius: 100%;
    margin: auto
}

.homeContainer .buttonEnabled:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.homeContainer .buttonEnabled:active {
    background-color: rgb(255, 56, 86);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.homeContainer .buttonDisabled {
    background-color: rgb(97, 97, 97);
    box-shadow: rgb(1, 0, 0) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    width: 10%;
    margin: auto
}
.link {
    text-decoration: none ;
}