.create {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    background-color: rgba(250, 235, 215, 0.694);
}

.formContainer h1 {
    font-family: 'Cinzel', serif;
    letter-spacing: 4px;
    font-size:2.5rem;
    text-shadow: 0px 0px 5px rgb(126, 52, 52);
}

.formContent {
    display: flex;
    width: 80%;
    border-radius: 100px;
    margin-bottom: 50px;
    border: 4px solid black;
    box-shadow: 0px 0px 6px red;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.513);
    border-radius: 96px 0px 0px 96px;
}

.imageContainer img {
    width: 100%;
    margin: auto;
    height: auto;
}

.formFields {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 37rem;
    padding: 20px 40px 13% 0px;
    background-color: rgba(0, 0, 0, 0.513);
    border-radius: 0px 96px 96px 0px;
}

.temperamentContainer {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 0 50px 0;
    background-color: rgba(0, 0, 0, 0.402);
    width: 80%;
    color: white;
    max-height: 220px;
    margin: auto;
    overflow: scroll;
}

.temperament {
    display: flex;
    flex-wrap: nowrap;
    width: 25%;
    white-space: nowrap;
}

.temperament span {
    font-size: 0.7rem;
}

.temperamentContainer div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.temperamentContainer label {
    margin-left: 5px;
}

.inputBox {
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding-right: 424px;
    margin-left: 40px;
    height: 7.5%;
    border-radius: 25px 0px 0px 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.313);
}

.inputBox span {
    font-size: 1.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-top: 5px;
}

.inputBox input {
    margin: 5px 40% 5px 12%;
    width: 14%;
    font-size: 24px;
    padding: .15rem .5rem;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    letter-spacing: 2px;
    white-space: nowrap;
    box-shadow: 0px 10px 20px -18px;
    position: absolute;
}

.inputBox input:focus {
    border-bottom: 2px solid #c75b5b;
    border-radius: 4px 4px 2px 2px;
}

.inputBox input:hover {
    outline: 1px solid lightgrey;
}


.inputBox p {
    color: rgb(255, 0, 0);
    font-size: 0.900rem;
    position: absolute;
    background-color: #00000020;
    right: 10.2%;
    width: 200px;
    white-space: wrap;
    margin: auto;
}

.submitOn {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    margin-top: 22px;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1px;
    font-size: 10px;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: rgb(201, 46, 70) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
}

.submitOn:hover {
    box-shadow: rgb(201, 46, 70) 0px 2px 0px 0px;
}

.submitOn:active {
    background-color: rgb(255, 56, 86);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.submitOff {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    margin-top: 25px;
    background-color: rgb(139, 139, 139);
    letter-spacing: 1px;
    font-size: 10px;
    transition: all .3s ease;
    color: hsl(0, 0%, 100%);
}