.landingContainer {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    width: 100%;
    padding-bottom: 48.4%;
    background-color: rgba(250, 235, 215, 0.453);
}

.landingContainer h2 {
    font-size: 3rem;
    background-color: #111;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px rgba(114, 4, 4, 0.464);
    width: max-content;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 30px 0px 30px;
    margin: -23px 0px 0px 20%;
    box-shadow: 0px 3px 3px rgb(86, 0, 0);
    text-align: center;
    font-family: 'Cinzel', serif;
}

.landingContainer img {
    width: 300px;
    transition: all 2s ease;
    position: absolute;
    left: 550px;
    top: 150px;
}

.landingContainer img:hover {
    width: 350px;
    left: 530px;
    top: 130px;
}

.landingContainer h1 {
    background-color: #111;
    padding-top: 0px;
    padding-bottom: 20;
    color: rgb(255, 255, 255);
    margin-top: 0;
    box-shadow: 0px 3px 3px rgb(86, 0, 0);
    width: 100%;
    font-family: 'Cinzel', serif;
}

body {
    background: antiquewhite url(https://i.pinimg.com/originals/84/9a/bf/849abf4060d509b0ef69bc55b3e41d64.jpg);
    background-size: cover;
    background-position: 0 -0px;
    margin: auto;
    background-repeat: repeat;
    position: relative;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    width: 100%;
    color: #fff;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 2px;
    color: #cacdd2;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.spanContainer {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-around;
    padding-bottom:20px;
}

.spanContainer span {
    text-transform: initial;
    opacity: .6;
    font-weight: 200;
}

.footer-content h3 {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}