.navContainer {
    background-color:rgb(53, 53, 53);
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    height: 59px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 0px 5px red;
    position: relative
}

.navContainer button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    margin-top: 5px;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
}

.navContainer button:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.navContainer button:active {
    background-color: rgb(255, 56, 86);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.searchContainer {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
.input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.filterComp {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: 24%;
    width: 60%;
    top: 0;
    background-color: rgb(53, 53, 53);
    padding: 15px 0px 30px 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 5px red;
}

.filterComp button {
    margin-top: 3px;
}

:root {
    --primary-color: rgb(255, 56, 86);
    --primary-color-dark: rgb(201, 46, 70);
    --text-color: hsl(0, 0%, 100%);
}

.navContainer select {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px 2px 0px 2px;
    margin-top: 5px;
    transition: all .3s ease;
}

.navContainer select:hover {
    background-color: var(--primary-color-dark);
}

.navContainer select:focus {
    box-shadow: 0px 0px 5px 2px rgba(255, 56, 86, 0.75);
}

.navContainer select:hover {
    background-color: var(--primary-color-dark);
}

.navContainer select:active {
    background-color: var(--primary-color);
    box-shadow: 0px 5px 0px 0px var(--primary-color-dark);
    transform: translateY(5px);
    transition: 200ms;
}
